*{
    text-decoration: none;
    
    padding: 0;
    margin: 0;
   
      

}

body {
    font-family: 'Lato', sans-serif;
    color: #5A6978;
    background-color: #CCF2F0;
    


}

.backlogo{
    float: left;
    display: flex;
    padding: 8px;
    
    
    
    
    
    
}

.backlogo img{
    max-width: 45px;
    max-height: 34px;
    
    

}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 120px;
   
}

.title h1{
    
    margin-top: -70px;
    font-size: 200%;
    margin-left: -16px;
    text-align: center;
    
    
}



.halalimage img{
    
    
    float:right;
    max-height: 70px;
    
    
}


.nav{
    display: flex;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    justify-content: center;
    gap: 60px;
    background-color: aliceblue;
    border-radius: 10px;  
    margin-left: 0px;
}
    
    
    
    


.home img{
    max-width: 35px;
    max-height:32px;
    display: flex;
    justify-content: center;
    margin-bottom: -6.6px;
    margin-left: 8px;
    margin-top: 6.5px;
}

.home p1{
    margin-left: 6px;
}

.profile img{
    max-width: 40px;
    max-height:36px;
    display: flex;
    justify-content: center;
    margin-bottom: -6.4px;
    margin-left:8px;
    margin-top: 2px;
    
}

.navlink p1{
    color:rgb(19, 85, 90);
    text-align: center;
    font-size: 14px;

}

nav a{
    justify-content: center;
    display: flex;
}


.doctors img{
    max-width: 30px;
    max-height:33px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 2px;
}

.doctors p1{
    text-align: center;
    margin-left: -8px;
    margin-top: -1px;
    text-decoration: underline;
    color: green;
}

.appointments img{
    max-width: 30px;
    max-height:33px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 2px;
    margin-left: 14px;
    
    
}

.appointments p1{
    text-align: center;
    margin-left: -8px;
    font-size: 13.3px;
    
}


.bg{
    background-color: rgb(223, 223, 223);
    border-radius: 8px;
    width: 96%;
    margin-left: 2%;
    max-height: 40%;
    
    
    
    
}

.bgholder{
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    
}

.content{
    display: flex;
    flex-flow: row;
    margin-left: 6%;
}



.profilepic img{
    max-height: 70%;
    max-width: 70%;
    margin-left: 20%;
    margin-top: 20%;
    border-radius: 4px;
    padding: 4px;
    background-color: rgb(142, 142, 142);
}


.profilepic{
    display: flex;
    flex-flow: column;
    padding-left: 0px;
    padding-bottom: 10%;
    padding-right: 16px;
    
    border-radius: 6px;
    margin-top: 5%;
}


.profilepic h1{
    text-align: center;
    font-size: 120%;
    margin-top: 14%;
    margin-left: 10%;
}

.profilepic h2{
    font-size: 110%;
    margin-top: 50%;
    margin-left: 12%;
    color: red;
    text-align: center;
    text-decoration: underline;
    
}



.description{
    
   display: flex;
   align-items: center;
   background-color: rgb(237, 238, 236);
   width: 75%;
   margin: 40px 30px;
   border-radius: 20px;
   padding-top: 10px;
   flex-flow: column;
   gap: 20px;
   
   

}


.appoint-button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #36e636; /* Green */
    
    color: #fff; /* White */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin-top: -20px;
}
  
  /* Add a hover effect for the button */
.appoint-button:hover {
    background-color: #4cae4c; /* Light green */
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.description p1{

    font-size: 18px;
    padding-top: 22px;
    max-width: 90%;
    text-align: center;
    color: blue;
    text-decoration: underline;
}

.description p2{

    font-size: 18px;
    max-width: 70%;
    text-align: center;

}

.description a{

    margin-top: -25px;
    margin-bottom: 20px;
}





@media (min-width: 821px){

    .bg{
        width: 50%;
        margin-left: 0%;
        margin: 0 24%;

    }

    .profilepic img{
        max-height: 70%;
        max-width: 70%;
        margin-left: 18%;
        margin-top: 20%;
        border-radius: 4px;
    }


    .profilepic{
        
        flex-flow: column;
        
        
        padding-right: 16px;
        min-height: 100%;
        border-radius: 6px;
        

    }


    .profilepic h1{
        font-size: 165%;
        margin-top: 18%;

        
        
    }

    .profilepic h2{
        font-size: 110%;
        margin-top: 18%;
        margin-left: 8%;;
    }


    .description{
        
        display: flex;
        align-items: center;
        background-color: rgb(237, 238, 236);
        width: 75%;
        margin: 40px 30px;
        border-radius: 20px;
        padding-top: 10px;
        flex-flow: column;
        gap: 40px;
        
        
     
    }


    .description p1{

        font-size: 18px;
        padding-top: 22px;
        max-width: 90%;
        text-align: center;
        color: blue;
        text-decoration: underline;
    }

    .description p2{

        font-size: 18px;
        max-width: 70%;
        text-align: center;

    }

    
    
    .description a{

        margin-top: -38px;
        margin-bottom: 30px;
    }


    .content{
        margin-left: 8%;
        width: 100%
    }


    .appoint-button {
        display: inline-block;
        padding: 10px 20px;
        border-radius: 5px;
        background-color: #36e636; /* Green */
        box-shadow: 1px 1px 1px rgba(12, 218, 12, 0.5);
        color: #fff; /* White */
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        
    }
      
      /* Add a hover effect for the button */
    .appoint-button:hover {
        background-color: #4cae4c; /* Light green */
        box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    }
      
   
    
    
}



