@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
/* Made By Abas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

nav {
    background-color: cadetblue;
    height: 100px;
    width: 100%;

}

label.logo img {
    font-weight: bold;
    margin-bottom: 600px;
    position: absolute;
    top: 8px;
    left: 5px;
    width: 75px;
    border-radius: 10px;
    display: flex;
    padding: 2.2px;

}

nav ul {
    float: right;
    margin-right: 10px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: rgb(2, 11, 14);
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 7px;

}

a.active,
a:hover {
    background: rgb(207, 216, 193);
    transition: 0.1s;

}


.header {
    min-height: 60vh;
    width: 100%;
    background-position: center;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("do.jpg");
    
    background-size: cover;
    color: rgb(255, 253, 253);
    backdrop-filter: blur(10px);
    text-align: center;

}

.name {
    display: flex;
    justify-content: space-evenly;

}

.fn input {
    width: 370px;
    height: 50px;
    border: 3px solid rgb(10, 4, 98);
    border-radius: 5px;


}

.ln h5 {
    color: #c6ccd7;
}



.ln input {
    width: 370px;
    height: 50px;
    border: 3px solid rgb(8, 0, 72);
    border-radius: 5px;
    
    


}

.fn h5 {
    color: rgb(192, 198, 210);
    
}

.get h2 {
    margin-bottom: 70px;
    color: aqua;
    margin-left: 40px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    


}


.note textarea {
    border: 3px solid rgb(47, 89, 255);
    width: 750px;
    height: 120px;
    border-radius: 4px;
}

.note h5 {
    color: rgb(202, 206, 214);
}

.doc_contact {
    min-height: 38.8vh;
    background-color: dimgrey;
    text-align: center;
    color: darkcyan;
}

.about {
    color: azure;
}

.Orcontact h1{
    padding-top:15px;
}

.Orcontact p{
    padding-bottom: 10px;
}




@media (max-width: 576px) {
    label.logo {
        font-size: 30px;
        padding-left: 1px;
    }

    nav ul li a {
        color: rgb(0, 0, 0);
        font-size: 16px;
        padding: 7px 13px;
        border-radius: 7px;

    }

    p {
        color: #0a0000;
        font-size: 17px;
        font-weight: 300;
        line-height: 15px;
        padding: 8px;
        font-family: 'Lato', sans-serif;
    }

    .row {
        margin-top: 0%;
        display: flex;
        justify-content: space-between;
        padding: 39px;
    }

    .contact-column {
        flex-basis: 10%;
        background: #e9e9e5;
        border-radius: 18px;
        margin-bottom: 5%;
        padding: 2px 3px;
        box-sizing: border-box;
        height: 8px;
    }



    .note textarea {
        border: 3px solid rgb(47, 89, 255);
        width: 466px;
        height: 120px;
    }

    label.logo img {
        font-weight: bold;
        margin-bottom: 600px;
        position: absolute;
        top: 3px;
        left: 5px;
        width: 75px;
        border-radius: 10px;
        display: flex;

    }

    .Orcontact p {
        color: #000000;
        font-size: 14px;
        font-weight: 300;
        line-height: 15px;
        padding: 50px 15px;
        font-family: 'Lato', sans-serif;
        
    }

    .Orcontact h1 {
        color: wheat;
        font-size: 18px;
        padding: 20px 3px;
        
        
    }
    
    
    .contact-column h3 {
        font-size: 10px;
    }

    .submit .btn {
        outline: none;
        border: none;
        width: 200px;
        height: 40px;
        background: #f2f5f7;
        color: #1F4690;
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 25px;
        cursor: pointer;
        transition: 0.6s;
        transition-property: border-left, border-right, box-shadow;
    }

    .fn input {
        width: 180px;
        height: 58px;
        border: 3px solid rgb(41, 14, 245);


    }

    .ln input {
        width: 180px;
        height: 58px;
        border: 3px solid rgb(41, 14, 245);


    }

   .note textarea{
    max-width: 380px;
   }

    .Orcontact .row {
        margin-top: 0%;
        display: flex;
        justify-content: space-between;
        padding: 29px;
        background-color: #0890c1;
        height: 126px;
        
       
    }

    .Orcontact p {
        color: #0b0303;
        font-size: 15px;
        font-weight: 300;
        line-height: 1px;
        padding: 8px;
        font-family: 'Lato', sans-serif;
    }

    .row .contact-column {
        flex-basis: 10%;
        background: #090901;
        border-radius: 18px;
        margin-bottom: 5%;
        padding: 2px 1px;
        height: 6px;
        margin-left: -20px;
        
    }

    .row h3 {
        color: bisque;
        font-size: 14px;


    }
}

.Orcontact {
    margin: auto;
    text-align: center;
    background-color: #40899b;

}

h1 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(170, 181, 180);

}

p {
    color: #0e0808;
    font-size: 17px;
    font-weight: 300;
    line-height: 15px;
    padding: 8px;
    font-family: 'Lato', sans-serif;
}

.row {
    margin-top: 0%;
    display: flex;
    justify-content: space-evenly;
    padding: 39px;
    background-color: #0059ff;
}

.contact-column {
    flex-basis: 10%;
    background: #e9e9e5;
    border-radius: 18px;
    margin-bottom: 5%;
    padding: 2px 3px;
    box-sizing: border-box;
    height: 8px;
}




h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;


}

.contact-column:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);


}

.btn {

    outline: none;
    border: none;
    width: 200px;
    height: 45px;
    background: #7f9cab;
    color: #00040a;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.6s;
    transition-property: border-left, border-right, box-shadow;
}


::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(135, 135, 135); 
  }

::-webkit-scrollbar-thumb {
    background: rgb(108, 106, 106);
  }