*{
    text-decoration: none;
    
    padding: 0;
    margin: 0;
   
      

}

body {
    font-family: 'Lato', sans-serif;
    color: #5A6978;
    background-color: #CCF2F0;
    


}

.backlogo{
    float: left;
    display: flex;
    padding: 8px;
    
    
    
    
}

.backlogo img{
    
    max-height: 34px;
    
    

}

.title{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    margin-top: 100px;
   
}


.title h1{
    
    margin-top: -70px;
    font-size: 300%;
    margin-left: -16px;
    
    
    
}



.halalimage img{
    
    
    float:right;
    max-height: 70px;
    
    
}


.nav{
    display: flex;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    justify-content: center;
    gap: 45px;
    background-color: aliceblue;
    border-radius: 10px;
    margin-left: -7px;
    
    
    
    
    
}

.home img{
    max-width: 35px;
    max-height:32px;
    display: flex;
    justify-content: center;
    margin-bottom: -6.6px;
    margin-left: 8px;
    margin-top: 4.8px;
    margin-bottom: -5px;
}

.home p1{
    margin-left: 6px;
   
}

.profile img{
    max-width: 40px;
    max-height:36px;
    display: flex;
    justify-content: center;
    margin-bottom: -6.4px;
    margin-left:8px;
    margin-top: 2px;
    
}
.navlink p1{
    color:rgb(19, 85, 90);
    text-align: center;
    font-size: 14px;

}

nav a{
    justify-content: center;
    display: flex;
}


.doctors img{
    max-width: 30px;
    max-height:33px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 2px;
}

.doctors p1{
    text-align: center;
    margin-left: -8px;
    margin-top: -1px;
    text-decoration: underline;
    color: green;
}

.appointments img{
    max-width: 30px;
    max-height:33px;
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    margin-top: 2px;
    margin-left: 14px;
    
}

.appointments p1{
    text-align: center;
    margin-left: -8px;
    font-size: 13.3px;
    
}
.searchbar{
    width: 100%;
    max-width:200px;;
    background-color:rgb(242, 243, 243);
    display: flex;
    align-items:center;
    padding: 10px 20px;
    border-radius: 60px;
    height: 2vh;
}

.searchbar input{
    background: transparent;
    flex:1;
    border:0;
    outline: none;
    
    font-size: 20px;
}


.container{
    display: flex;
    
    width: 80%;
    margin-top: 20px;
    margin-left: 10px;
}


.content{
    
    display: flex;
    margin-top: 40px;
    justify-content: start;
    gap: 40px;
    max-height:600px;
    margin-left: 20px;
    overflow-x: auto;
    max-width: 100%;
    flex-flow: row;
    height: auto;
    padding-bottom: 20px;
    
    
    
    
    
    
}

.contentwrap{
    
    display: flex;
    margin-top: 40px;
    justify-content: start;
    gap: 40px;
    max-height:600px;
    margin-left: 20px;
    overflow-x: auto;
    max-width: 100%;
    flex-flow: wrap;
    height: auto;
    padding-bottom: 20px;
    
    
    
    
    
    
}

.content img{
    max-height: 90px;
    max-width: 90px;
    min-width: 100px;
    min-height:100px;
    border: 4px solid;
    border-color: rgb(55, 116, 118);
    border-radius: 10px;
    

}

.content h2{
    text-align: center;
    font-size: 95%;
    max-width: 100%;
    
    
    
}

.filter{
    margin-top: 20px;
    margin-left: 18px;
    border: 300px;
    border-color:rgb(0, 0, 0);
    background-color: antiquewhite;
    border-radius: 4px;
}

.title2{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 95%;
}

.title2 h1{
    font-size: 300%;
    margin-top: -40px;
}

.container2{
    margin-top: 5px;
    margin-left: 10px;
}

.content2{
    
    display: flex;
    margin-top: 40px;
    justify-content: start;
    gap: 40px;
    height:200px;
    margin-left: 20px;
    overflow-x: auto;
    flex-flow: wrap;
    padding-bottom: 0px;
    
}

.content2 img{
    max-height: 90px;
    max-width: 90px;
    min-width: 100px;
    min-height:100px;
    border: 4px solid;
    border-color: rgb(55, 116, 118);
    border-radius: 10px;
    
}

.content2 h2{
    text-align: center;
    font-size: 95%;
    max-width: 100%;

}

::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: rgb(135, 135, 135); 
  }

::-webkit-scrollbar-thumb {
    background: rgb(108, 106, 106);
  }



.mydoctor{
    background-color:rgba(167, 166, 227, 0.351);
    margin-top: -37px;
    border-radius: 12px;
    margin-left: 8px;
    margin-right: 8px;
    
}

.doctorbg{
    background-color:rgba(167, 166, 227, 0.351);
    border-radius: 8px;
    margin-top: 80px;
    margin-left: 8px;
    margin-right: 8px;
}


#cardiologist{
    display: flex;
    gap: 40px;
    
}

#allergist{
    display: flex;
    gap: 40px;
}

#ophthalmologist{
    display: flex;
    gap: 40px;
}

#gastroenterologist{
    display: flex;
    gap: 40px;
}

#pychiatrist{
    display: flex;
    gap: 40px;
}

#orthopedist{
    display: flex;
    gap: 40px;
}


#test{
    float: right;
    margin-top: -30px;
    margin-right: 15px;
    

    
}

#test img{
    max-height: 25px;
    transform: rotate(180deg);
    transition: transform 0.5s;
}


.rotated {
    max-height: 25px;
    transform: rotate(180deg);
    transition: transform 0.2s;
  }


#sorttext {
    margin-left: 20px;
    color: rgb(0, 0, 0);
    font-size: 15px;
}


@media (min-width: 750px){


    

    .nav{
        gap:80px;
    }
    



    

}
