/* Made By Abas */
* {
  margin: 0;
  padding: 0;
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500&display=swap');

}

body {
  background-color: #488FB1;
}





.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(https://img.freepik.com/free-vector/health-care-science-medical-dna-background-banner_1017-20043.jpg?w=2000);
  background-position: center;
  background-size: cover;
}

.logo img {
  margin-bottom: 600px;
  position: absolute;
  top: 6px;
  left: 5px;
  width: 80px;
  border-radius: 10px;
  display: flex;

}


.nav-area {
  display: table;
  background: rgb(25, 25, 187);
  max-width: 96%;
  padding: 12px 30px;
  z-index: 999;
  width: 100%;
  margin: auto;



}


.mobile-nav-icon {
  display: none;
}

.site-nav-menu {
  float: right;

}



.menu li {
  display: inline-block;
  margin: 24px 5px;

}

.menu a {
  color: rgb(255, 255, 255);
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 550;
  padding: 15px 10px;
  transition: 1s;

}

.menu a:hover {
  color: rgb(147, 24, 96);
  

}

.mobile-nav-icon {
  float: right;
  margin: 10px;
  padding: 10px;
  font-size: 22px;
  color: rgb(125, 9, 19);
  outline: none;
  cursor: pointer;

}

.text-box {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

.text-box h1 {
  font-size: 60px;


}

.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
  color: rgb(236, 232, 232);

}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;


}

.hero-btn:hover {
  border: 1px solid #0096FF;
  background: #0096FF;
  transition: 1s;
}




@media(max-width: 700px) {
  .text-box h1 {
    font-size: 20px;


  }

  .nav-area{
    max-width: 85%;
  }

  .site-nav-menu {
    float: none;
    position: absolute;
    background-color: rgb(164, 164, 178);
    width: 100%;
    left: 0px;
    top: 95px;
    padding: 10px 0px 10px 0px;
    
    

    clip-path: circle(0% at 100% 0%);
    transition: all .5s;



  }

  .menu li {
    display: block;
    text-align: right;
  }

  .mobile-nav-icon {
    display: block;
    margin-right: -30px;
  }

  .view-mobile {
    clip-path: circle(70% at 100% 0%);

  }

  .menu li a:after {
    display: none;
  }


}

.Specialits {
  width: 70%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
  background-color: #4890b1;
}

h1 {
  font-size: 36px;
  font-weight: 500;
  color: rgb(23, 215, 228);

}

p {
  color: #000000;
  font-size: 17px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
  font-family: 'Lato', sans-serif;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.Specialits-col {
  flex-basis: 20%;
  background: #b3c7cc;
  border-radius: 18px;
  margin-bottom: 5%;
  padding: 20px 10px;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;


}

.Specialits-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);


}

@media(max-width: 700px) {
  .row {
    flex-direction: column;
  }

}


/*appointments*/
.Doctors {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  background-color: #799fbb;
  font-family: 'Lato', sans-serif;

}

.Doctors-h1 {
  color: #CCF2F0
}

.Doctors-col {
  flex-basis: 32%;
  border-radius: 14px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;


}

.Doctors-col img {
  width: 200px;
  height: 150px;
  border: 1px;
  border-radius: 10%;


}

.Doctors-col h3 {
  color: #3ccdcf;
}


.lhover:hover {
  background-color: rgba(205, 150, 203, 0.3);

}

.lhover {
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.1s;

}


::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: rgb(135, 135, 135); 
}

::-webkit-scrollbar-thumb {
  background: rgb(108, 106, 106);
}